<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <title>RSS Factory</title>
    <meta name="description" content="微信公众号，知乎日报, 自定义网站 RSS。"/>
    <meta name="robots" content="index, follow"/>
    <link rel="stylesheet" href="{{ static_url('bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('all.css') }}"/>
    <!--<link rel="stylesheet" href="../static/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="../static/all.css"/>-->

</head>
<body>
<div class="site-wrapper">
    <header class="site-header">
        <div class="site-title"><a href="/">RSS Factory</a></div>
    </header>
    <div class="content">


        <p class="lead">
            RSS Factory 是一个用来生成微信公众号,知乎日报,自定义网站 <strong>RSS</strong> 的Web APP。
        </p>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="微信公众号">
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go</button>
    </span>
        </div>
        <br/>

        <div id='board' class="gittip alert alert-info hide" style="padding: 20px;">
        </div>

        <div class="gittip alert alert-info" style="padding: 20px;">
            <p>
                知乎日报: <a href='http://{{ host }}/zhihu' target='_blank'>http://{{ host }}/zhihu</a>
            </p>
            <p>
                阿里聚安全-技术研究: </p>
            <p><a href='http://{{ host }}/jaq_tech' target='_blank'>http://{{ host }}/jaq_tech</a>
            </p>
            <p>
                阿里聚安全-安全资讯: </p>
            <p><a href='http://{{ host }}/jaq_news' target='_blank'>http://{{ host }}/jaq_news</a>
            </p>
        </div>

        <p>
            获取微信公众号订阅的方法:
        <ul>
            <li><a href='http://weixin.sogou.com/' target='_blank'>搜狗</a>搜索喜欢的微信公众号</li>
            <li>或者在你的手机里的订阅公众号</li>
            <li><strong>看到公众号信息的id,如学习学习再学习的订阅号:xiaolai-xuexi</strong></li>
            <li>那么你将订阅的RSS信息就是:</li>
            <li><a href='http://{{ host }}/weixin?id=xiaolai-xuexi' target='_blank'>http://{{ host }}/weixin?id=xiaolai-xuexi</a>
            </li>
            <li>1:功能尚不完善,目前搜索无效,根据此操作示意可成功!</li>
            <li>2:有获取失败的可能,重试即可.</li>
            <li>3:延迟10秒左右,具体情况根据网络和内容而定...</li>
        </ul>
        </p>


    </div>
    <footer class="site-footer">
        <p class="credits">
            Released under the <a href="/">MIT Public License</a>.<br/>
            &copy; 2016, <a href="https://github.com/Sendarg/all2rss" target="_blank">Sendarg Devid</a>.
        </p>
        <div class="powered-by">
            Powered by <a href="https://openshift.redhat.com" target="_blank">Sendarg</a>
        </div>
    </footer>
    <script src="{{ static_url('jquery-1.12.4.js') }}"></script>
    <script src="{{ static_url('bootstrap.min.js') }}"></script>
    <script>
        function isDigit(s) {
            var patrn = /^[0-9]{1,20}$/;
            if (!patrn.exec(s)) return false;
            return true;
        };

        $(function () {
            $('.input-group').on('click', 'button', function () {
                var input = $('input').val();
                if (input.length > 3) {
                    var a = $("<a target='_blank' href='http://{{ host }}/weixin?id=" + input + "'>http://{{ host }}/weixin?id=" + input + "</a>");
                    var p = $("<p>微信公众号:<br/></p>");
                    p.append(a);
                } else {
                    var p = $('<p>请输入正确的微信公众号.</p>');
                }
                ;
                var board = $('#board');
                board.empty();
                board.append(p);
                board.removeClass('hide');
            });
        });
    </script>
</div>
</body>
</html>
